<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @candidate.sex %>
</p>

<p>
  <strong>University:</strong>
  <%= @candidate.university %>
</p>
  <% if user_signed_in? %>
  <strong>Votes: <%= @candidate.fancy_votes.size %></strong>
    <h2>Voters:</h2>
    <table>
      <thead>
        <th>ip</th>
        <th>timestamp</th>
      </thead>
      <tbody>
        <% @candidate.fancy_votes.each do |vote| %>
        <tr>
          <td><%= vote.visitor.ip %></td>
          <td><%= vote.updated_at %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<%= form_tag vote_path(@candidate) do %>
  <%= submit_tag 'Vote', class: 'button' %>
<% end %>
<%= link_to 'Back', candidates_path %>
