<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @candidate.sex %>
</p>

<p>
  <strong>University:</strong>
  <%= @candidate.university %>
</p>
<%= form_tag vote_path(@candidate) do %>
  <%= submit_tag 'Vote', class: 'button' %>
<% end %>
<%= link_to 'Back', candidates_path %>
